@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.App {
  font-family: 'Open Sans';
  font-size: 42px;
  font-weight: bold;
  line-height: normal;
  text-align: center;
}

.Clock {
  margin-top: -30px;
}

.Rotate {
  font-family: monospace;
}